
.container{
    width: 100%;
    overflow: hidden;
}

.presentation{
    width: 100%;
    height: 100vh;
    background-image: url(./assets/initial-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}