
.header{
    position: relative; 
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
}

.title{
    color: white;
    text-align: center;
    letter-spacing: 5px;
    font-size: 3.5rem;
    margin-top: 40px;
    animation: titleEffect 2000ms;
}

.header ul{
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.header li{
    font-size: 1.8rem;
    font-family: 'Bebas Neue', sans-serif;  
    list-style: none;
    transition: 250ms;
    font-weight: 100;
    letter-spacing: 3px;
    animation: navEffect 2000ms;
}

.header li:hover{
    padding-top: 5px;
}

.header a{
    color: white;
    text-decoration: none;
    transition: 250ms;
}

.header a:hover{
    color: rgb(201, 132, 3);
}


/*animations*/

@keyframes navEffect {
    0%{
        opacity: 0;
        margin-left: -100px;
    }
    100%{
        opacity: 1;
        margin-left: 0px;
    }
}