
.header{
    position: relative;
    position: fixed;
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    color: white;
    text-align: center;
    letter-spacing: 5px;
    font-size: 3rem;
    margin-top: 40px;
}

.header ul{
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.header li{
    font-size: 1.8rem;
    font-family: 'Bebas Neue', sans-serif;  
    list-style: none;
    transition: 250ms;
}

.header li:hover{
    padding-top: 5px;
}

.header a{
    color: white;
    text-decoration: none;
    transition: 250ms;
}

.header a:hover{
    color: rgb(201, 132, 3);
}